
.slot {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

/* .reel {
    height: auto;
    width: auto;
}

*/

.score-board {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.score-board:first-child {
    margin: 30px 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.score-board:last-child {
    margin: 30px 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.score{
    margin: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* .score .betScore{
    margin: 30px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
} */

.value {
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100px;

}


.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 50px;
}

.buttonItem {
    margin: 5px 50px;
    width: 60px;
}
.bet button {
    background-color: red;
    color: white;
    height: 40px;
    width: 70px;
}

.spin button{
    width: 110px;
    height: 50px;
    background-color: green;
    color: white;
}

.positioned {
    width: 600px;
    position: absolute;
    background: yellow;
    top: 300px;
    left: 510px;
    visibility: hidden;
    /* visibility: visible; */
}

/* ako hocu pomocu css-a da napravim treab da koristim transform: translate */

/* ovo je da bude na sred ekrana, za manje uredjaje samo smanjujem ovo .62, .55, .4 
transform: translate(-50%, -50%) scale(.62, .62); */

/* div {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: mymove 1s infinite;
  }
  
  @keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  } */